@charset "utf-8";

/* main */

.main{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 50px;
    box-sizing: border-box;
    z-index: 0;
}
.tamna_what_is{
    width: 90%;
    height: 538px;
    margin: 0 auto 100px;
}
.tamna_what_is>h2::before{
    display: block;
    content: "";
    width: 80px;
    height: 82px;
    background: url(../images/tamna_mobile_logo.jpg) no-repeat;
    margin-bottom: 50px;
}
.tamna_what_is>h2{
    margin-bottom: 50px;
}
.tamna_what_is_txt{
    width: 100%;
    font-size: 12px;
    margin-bottom: 50px;
}
.tamna_what_is>ul{
    width: 100%;
    height: 209px;
}
.tamna_what_is>ul>li:nth-child(1){
    width: 31%;
    height: 209px;
    background: url(../images/intro/tamna_mobile_intro_kbyellow.jpg) no-repeat center;
    background-size: contain;
    text-indent: -9999px;
    margin-right: 4%;
    float: left;
}
.tamna_what_is>ul>li:nth-child(2){
    width: 31%;
    height: 209px;
    background: url(../images/intro/tamna_mobile_intro_kbgreen.jpg) no-repeat center;
    background-size: contain;
    text-indent: -9999px;
    margin-right: 4%;
    float: left;
}
.tamna_what_is>ul>li:nth-child(3){
    width: 30%;
    height: 209px;
    background: url(../images/intro/tamna_mobile_intro_paper.jpg) no-repeat center;
    background-size: contain;
    text-indent: -9999px;
    float: left;
}
.tamna_what_is>ul>li:nth-child(3)>br{
    display: none;
}
.tamna_user_benefit{
    width: 90%;
    height: 503px;
    margin: 0 auto 100px;
}
.tamna_user_benefit>h2{
    margin-bottom: 50px;
}
.tamna_user_benefit_txt{
    font-size: 12px;
}
.tamna_user_benefit_txt>p:nth-child(1){
    margin-bottom: 20px;
}
.tamna_user_benefit_txt>p:nth-child(2){
    font-weight: 500;
    width: 495px;
    margin-bottom: 50px;
}
.tamna_user_benefit ol{
    width: 100%;
    height: auto;
}
.tamna_user_benefit ol li:nth-child(1){
    width: 31%;
    height: 273px;
    float: left;
    background: url(../images/intro/tamna_mobile_intro_bf1.jpg)no-repeat center;
    background-size: contain;
    margin-right: 4%;
    text-indent: -9999px;
}
.tamna_user_benefit ol li:nth-child(2){
    width: 31%;
    height: 273px;
    float: left;
    background: url(../images/intro/tamna_mobile_intro_bf2.jpg)no-repeat center;
    background-size: contain;
    margin-right: 4%;
    text-indent: -9999px;
}
.tamna_user_benefit ol li:nth-child(3){
    width: 30%;
    height: 273px;
    float: left;
    background: url(../images/intro/tamna_mobile_intro_bf3.jpg)no-repeat center;
    background-size: contain;
    text-indent: -9999px;
}
.tamna_howto{
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto 50px;
}
.tamna_howto>h2{
    margin-bottom: 50px;
}
/* tamna howto tap menu */

.tamna_howto_tap_menu {
    width: 80%;
    height: 40px;
    border: 1px solid #dadada;
    box-sizing: border-box;
    margin: 0 0 50px 0;
    cursor: pointer;
    font-size: 12px;
}
 .tamna_howto_KB_title{
    display: block;
    width: 33.333%;
    height: 39px;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    background-color: #fff;
    box-sizing: border-box;
    text-align: center;
    line-height: 37px;
    float: left;
    transition: all 0.1s ease-in-out;
    overflow: hidden;
} 
.tamna_howto_KB_title:hover {
    width: 33.333%;
    height: 39px;
    font-weight: 400;
    background: #21bdbd;
    transition: all 0.1s ease-in-out;
    overflow: hidden;
}
 .tamna_howto_Kona_title{
    display: block;
    width: 33.333%;
    height: 40px;
    border-right: 1px solid #dadada;
    box-sizing: border-box;
    font-weight: 300;
    text-align: center;
    line-height: 37px;
    float: left;
    transition: all 0.1s ease-in-out;
    overflow: hidden;
} 
.tamna_howto_Kona_title:hover {
    width: 33.333%;
    height: 39px;
    font-weight: 400;
    background: #21bdbd;
    transition: all 0.1s ease-in-out;
    overflow: hidden;
}
.tamna_howto_Paper_title{
    display: block;
    width: 33.333%;
    height: 40px;
    box-sizing: border-box;
    text-align: center;
    line-height: 37px;
    float: left;
    transition: all 0.1s ease-in-out;
    overflow: hidden;
} 
.tamna_howto_Paper_title:hover {
    width: 33.333%;
    height: 39px;
    font-weight: 400;
    background: #21bdbd;
    transition: all 0.1s ease-in-out;
    overflow: hidden;
}  
.tablinks.active {
    width: 33.333%;
    height: 39px;
    font-weight: 400;
    background: #21bdbd;
    transition: all 0.1s ease-in-out;
    overflow: hidden;
  }
  
/* KB */
.tamna_howto_KB{
    display: none;
}
.KB_online_title{
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
}
.KB_online_ol{
    margin-bottom: 50px;
}
.tamna_howto_KB ul>li:nth-child(1){
    width: 90%;
    height: 113px;
    margin-bottom: 150px;
}
.tamna_howto_KB_on_1{
    display: block;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    margin-right: 48px;
    float: left;
}
.tamna_howto_KB_on_1>span{
    display: block;
    font-size: 16px;
    font-weight: 500;
}
.tamna_howto_KB_on_2{
    display: block;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    margin-right: 48px;
    float: left;
}
.tamna_howto_KB_on_2>span{
    display: block;
    font-size: 16px;
    font-weight: 500;
}
.tamna_howto_KB_on_3{
    display: block;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    float: left;
}
.tamna_howto_KB_on_3>span{
    display: block;
    font-size: 16px;
    font-weight: 500;
}
.tamna_howto_KB ul>li:nth-child(2){
    width: 90%;
    height: 113px;
    margin-bottom: 70px;
}
.KB_offline_title{
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
}
.KB_offline_ol{
    margin-bottom: 50px;
}
.tamna_howto_KB_off_1{
    display: block;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    margin-right: 130px;
    float: left;
}
.tamna_howto_KB_off_1>span{
    display: block;
    font-size: 16px;
    font-weight: 500;
}
.tamna_howto_KB_off_2{
    display: block;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    margin-right: 135px;
    float: left;
}
.tamna_howto_KB_off_2>span{
    display: block;
    font-size: 16px;
    font-weight: 500;
}
.tamna_howto_KB_off_3{
    display: block;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    float: left;
}
.tamna_howto_KB_off_3>span{
    display: block;
    font-size: 16px;
    font-weight: 500;
}
/* Kona */
.tamna_howto_Kona{
    display: none;
    width: 100%;
}
.Kona_online_title{
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
}
.tamna_howto_Kona>ul{
    position: relative;
    width: 100%;
}
.tamna_howto_Kona ul>li:nth-child(1){
    width: 100%;
    height: 113px;
    margin-bottom: 150px;
}
.Kona_online_ol{
    position: absolute;
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    justify-content: space-between;
}
.tamna_howto_Kona_on_1{
    display: block;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    margin-right: 69px;
    float: left;
}
.tamna_howto_Kona_on_1>span{
    display: block;
    font-size: 16px;
    font-weight: 500;
}
.tamna_howto_Kona_on_2{
    display: block;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    margin-right: 69px;
    float: left;
}
.tamna_howto_Kona_on_2>span{
    display: block;
    font-size: 16px;
    font-weight: 500;
}
.tamna_howto_Kona_on_3{
    display: block;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    float: left;
}
.tamna_howto_Kona_on_3>span{
    display: block;
    font-size: 16px;
    font-weight: 500;
}
.tamna_howto_Kona ul>li:nth-child(2){
    width: 100%;
    height: 113px;
    margin-bottom: 150px;
}
.Kona_offline_title{
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
}
.Kona_offline_ol{
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    justify-content: space-between;
}
.tamna_howto_Kona_off_1{
    display: block;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    float: left;
}
.tamna_howto_Kona_off_1>span{
    display: block;
    font-size: 16px;
    font-weight: 500;
}
.tamna_howto_Kona_off_2{
    display: block;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    float: left;
}
.tamna_howto_Kona_off_2>span{
    display: block;
    font-size: 16px;
    font-weight: 500;
}
.tamna_howto_Kona_off_3{
    display: block;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    float: left;
}
.tamna_howto_Kona_off_3>span{
    display: block;
    font-size: 16px;
    font-weight: 500;
}
/* Paper */
.tamna_howto_paper{
    position: relative;
    width: 100%;
    margin: auto;
}
.paper_offline_title{
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-top: -20px;
    margin-bottom: 80px;
}
.paper_offline_ol{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
}
.tamna_howto_paper ul>li:nth-child(1){
    width: 90%;
    height: 235px;
}
.tamna_howto_paper_off_1{
    display: block;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    margin-right:15%;
    float: left;
}
.tamna_howto_paper_off_1>span{
    display: block;
    font-size: 16px;
    font-weight: 500;
}
.tamna_howto_paper_off_2{
    display: block;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    margin-right: 15%;
    float: left;
}
.tamna_howto_paper_off_2>span{
    display: block;
    font-size: 16px;
    font-weight: 500;
}
.tamna_howto_paper_off_3{
    display: block;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    float: left;
}
.tamna_howto_paper_off_3>span{
    display: block;
    font-size: 16px;
    font-weight: 500;
}
.tamna_howto_paper_img{
    position: relative;
    display: block;
    width: auto;
    height: 16vw;
    background: url(../images/intro/tamna_mobile_intro_howto_paper.jpg) no-repeat center;
    background-size: contain;
    margin: 0 auto 50px;
    text-indent: -9999px;
}
.tamna_howto_paper_txt{
    width: 90%;
    height: 55px;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
}
/* button */
.tamna_howto_button{
    width: 35%;
    height: 80px;
    margin: 0 auto 100px;
    background: #21bdbd;
    box-sizing: border-box;
    transition: all 0.3s;
    text-align: center;
}
.tamna_howto_button a{
    display: block;
    height: 100%;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    line-height: 5.5em;
}
.tamna_howto_button:hover{
    font-weight: 500;
    font-size: 18px;
    background: #fece08;
    color: #fff;
    transition: all 0.3s;
}