/* tabletDesktop */


@charset "utf-8";

/* header start */

/*  header top bar */
.header {
    width: 100%;
    height: 103px;
    position: relative;
    background: #0c2745;

    .header_top{
        position:relative;
        display: flex;
        width: 100%;
        height: 100%;
        border: 0;
        padding: 10px;
        box-sizing: border-box;
        overflow: hidden;

        .header_menu{
            width: 75%;
            height: 100%;
            background: yellow;
            
            .logo {
                height: 80px;
                background: url(../../images/header/logo345.jpg) no-repeat left;
                text-indent: -9999px;
            }
            a {
                display: block;
                height: 100%;
            }
        }

        .user_menu {
            position: relative;
            display: flex;
            width: 25%;
            height: 100%;
            justify-content: space-between;

            .user_menu_li{
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                align-items: flex-start;
                .new{
                    display: block;
                    width: 43%;
                    height: 25%;
                    text-align: center;
                    padding-top: 6px;
                    box-sizing: border-box;
                    margin-right: 2%;
                    a{
                        font-size: 0.786rem;
                        color: #fff;
                    }
                }
                .country{
                    position: relative;
                    width: 55%;
                    height: 25%;
                    text-indent: -9999px;
                    overflow: hidden;
                    ul{
                        position: absolute;
                        width: 90%;
                        top: 0;
                        line-height: 2rem;
                        text-indent: 0;
                        a{  display: inline-block;
                            font-size: 0.786rem;
                            color: #fff;
                        }
                        li{
                            display: flex;
                            align-items: center;

                            &:nth-child(1)::after{
                                display: inline-block;
                                width: 10px;
                                height: 5px;
                                content: "";
                                background: url(../../images/header/tri678.png) no-repeat;
                                margin-left: 10px;

                            }
                            &:nth-child(1)::before{
                                display: inline-block;
                                width: 18px;
                                height: 18px;
                                content: "";
                                background: url(../../images/header/country678.jpg) no-repeat;
                                margin-right: 10px;
                            }
                            
                        }
                    }

                }
                .search {
                    width: 100%;
                    height: 65%;
                    align-items: flex-start;
                    margin-left: 15px;
                    #search_input{
                        float: left;
                        width: 70%;
                        height: 20px;
                        border-bottom: 1px solid #999; 
                        
                        &::placeholder{
                            font-size: 0.714rem;
                            color: #999;
                        }
                    }
                    .submitBtn{
                        float: left;
                        width: 10%;
                        margin-left: 5px;
                        color: rgba(255, 255, 255, 0);
                        background: url(../../images/header/search678.png) no-repeat;
                    }
                   
                }
                .ham{
                    display: none;
                }
            }


        }

    } /* header top end */


    nav{
        position: relative;
        width: 100%;
        background: burlywood;

        .nav_menu{
            width: 97%;
            height: 100%;
            margin: 0 auto;
            background: #fff;
            padding: 10px;

            .coffee_box{
                position: absolute;
                top: -35px;
                margin-top: 1px;
                
                >a{
                    display: block;
                    width: 60px;
                    height: 40px;
                    text-align: center;
                    border-top: 4px solid rgba(255, 255, 255, 0); 
                }
                >a:hover{
                    background: #fff;
                    border-top: 4px solid saddlebrown;
                    box-sizing: border-box;
                }
                .coffee_menu{
                    position: relative;
                    width: 260%;
                    height: 100%;
                    background: red;
                    
                
                }

            }
        }
    }






}
main{
    display: none;
}
footer{
    display: none;
}