@charset "UTF-8";
@media (min-width: 335px) and (max-width: 757px) {
  /* css reset */
  /* block 요소 m,p reset */
  body,
  h1,
  h2,
  h3,
  h4,
  div,
  p,
  ol,
  ul,
  li,
  dl,
  dt,
  dd,
  header,
  section,
  article,
  span,
  label,
  form,
  a,
  fieldset,
  legend {
    margin: 0;
    padding: 0;
    border: 0;
  }
  body {
    font-size: 14px;
  }
  /* another */
  form,
  fieldset,
  legend {
    border-style: none;
    border: 0;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  ul,
  li {
    list-style: none;
  }
  address {
    font-style: normal;
  }
  button {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    *overflow: visible;
  }
  input {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    *overflow: visible;
  }
  /* Common class */
  /* .blind {visibility: hidden; } 글자있던 자리는 남아있게 됨 */
  .blind {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
  }
  /* mobile*/
  /* header start */
  /*  header top bar */
  .header {
    position: relative;
    background: #0c2745;
    overflow: hidden;
    /* nav */
  }
  .header .header_top {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 82px;
    border-bottom: 2px solid #111;
  }
  .header .header_top .header_menu {
    width: 70%;
    height: 80px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 5px 0 0 10px;
    overflow: hidden;
  }
  .header .header_top .header_menu .logo {
    height: 80px;
    background: url(../../images/header/logo345.jpg) no-repeat left;
    text-indent: -9999px;
  }
  .header .header_top .header_menu a {
    display: block;
    height: 100%;
  }
  .header .header_top .user_menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
    height: 80px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .header_top .user_menu .user_menu_li {
    width: 100%;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .header .header_top .user_menu .user_menu_li .new {
    position: absolute;
    display: none;
    width: 25%;
    height: 80px;
  }
  .header .header_top .user_menu .user_menu_li .country {
    display: block;
    width: 33%;
    height: 80px;
    left: 0;
    background: url(../../images/header/ko-kr345.png) no-repeat center;
    text-indent: -9999px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .header .header_top .user_menu .user_menu_li .search {
    display: block;
    width: 33%;
    height: 80px;
    text-indent: -9999px;
    background: url(../../images/header/search345.jpg) no-repeat center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header .header_top .user_menu .user_menu_li .ham {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 33%;
    height: 80px;
    right: 0;
    background: #103e70;
    text-indent: -9999px;
    margin-left: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 15px;
    border-left: 1px solid #07294f;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .header .header_top .user_menu .user_menu_li .ham .more {
    width: 50%;
    height: 60%;
    background: url(../../images/header/hamburger345.jpg) no-repeat center;
  }
  .header .header_top .user_menu .user_menu_li a {
    display: block;
    height: 100%;
  }
  .header nav {
    position: relative;
    overflow: hidden;
  }
  .header nav .nav_menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .header nav .nav_menu .coffee_box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
    height: 310px;
    border-top: 1px solid #2e3551;
    border-bottom: 1px solid #111;
  }
  .header nav .nav_menu .coffee_box > a {
    position: relative;
    width: 100%;
    height: 45px;
    border-top: 1px solid #2e3551;
    border-bottom: 1px solid #111;
    line-height: 45px;
    color: #fff;
    padding-left: 10px;
  }
  .header nav .nav_menu .coffee_box > a::after {
    position: absolute;
    display: block;
    width: 17px;
    height: 12px;
    content: "";
    background: url(../../images/header/open345.png) no-repeat center;
    top: 17px;
    right: 25px;
  }
  .header nav .nav_menu .coffee_box .coffee_menu {
    width: 97%;
    height: 260px;
    margin: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    background: #fff;
  }
  .header nav .nav_menu .coffee_box .coffee_menu .coffeemachine > a {
    color: #67d5e3;
    margin-bottom: 10px;
  }
  .header nav .nav_menu .coffee_box .coffee_menu .coffeemachine .coffeemachine_sub {
    margin: 12px 0 0 0;
    padding-bottom: 16px;
    line-height: 1.6em;
    border-bottom: 1px solid #ddd;
  }
  .header nav .nav_menu .coffee_box .coffee_menu .coffeerecipe {
    float: left;
    margin: 20px 20px 0 0;
  }
  .header nav .nav_menu .coffee_box .coffee_menu .coffeerecipe a {
    color: #67d5e3;
  }
  .header nav .nav_menu .coffee_box .coffee_menu .coffeelounge {
    float: left;
    margin-top: 20px;
  }
  .header nav .nav_menu .coffee_box .coffee_menu .coffeelounge a {
    color: #67d5e3;
  }
  .header nav .nav_menu .kitchen_box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
    height: 450px;
    border-top: 1px solid #2e3551;
    border-bottom: 1px solid #111;
  }
  .header nav .nav_menu .kitchen_box > a {
    position: relative;
    width: 100%;
    height: 45px;
    border-top: 1px solid #2e3551;
    border-bottom: 1px solid #111;
    line-height: 45px;
    color: #fff;
    padding-left: 10px;
  }
  .header nav .nav_menu .kitchen_box > a::after {
    position: absolute;
    display: block;
    width: 17px;
    height: 12px;
    content: "";
    background: url(../../images/header/open345.png) no-repeat center;
    top: 17px;
    right: 25px;
  }
  .header nav .nav_menu .kitchen_box .kitchen_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 97%;
    height: 385px;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    background: #fff;
    line-height: 1.6em;
  }
  .header nav .nav_menu .kitchen_box .kitchen_menu .kitchenmachine {
    width: 50%;
    height: 40%;
  }
  .header nav .nav_menu .kitchen_box .kitchen_menu .kitchenbreak {
    width: 50%;
    height: 60%;
  }
  .header nav .nav_menu .kitchen_box .kitchen_menu .kitcheninduction {
    width: 50%;
    height: 50%;
  }
  .header nav .nav_menu .season_box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
    height: 170px;
    border-top: 1px solid #2e3551;
    border-bottom: 1px solid #111;
  }
  .header nav .nav_menu .season_box > a {
    position: relative;
    width: 100%;
    height: 45px;
    border-top: 1px solid #2e3551;
    border-bottom: 1px solid #111;
    line-height: 45px;
    color: #fff;
    padding-left: 10px;
  }
  .header nav .nav_menu .season_box > a::after {
    position: absolute;
    display: block;
    width: 17px;
    height: 12px;
    content: "";
    background: url(../../images/header/open345.png) no-repeat center;
    top: 17px;
    right: 25px;
  }
  .header nav .nav_menu .season_box .season_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 97%;
    height: 102px;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    background: #fff;
    line-height: 1.6em;
  }
  .header nav .nav_menu .customer_box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
    height: 250px;
    border-top: 1px solid #2e3551;
    border-bottom: 1px solid #111;
  }
  .header nav .nav_menu .customer_box > a {
    position: relative;
    width: 100%;
    height: 45px;
    border-top: 1px solid #2e3551;
    border-bottom: 1px solid #111;
    line-height: 45px;
    color: #fff;
    padding-left: 10px;
  }
  .header nav .nav_menu .customer_box > a::after {
    position: absolute;
    display: block;
    width: 17px;
    height: 12px;
    content: "";
    background: url(../../images/header/open345.png) no-repeat center;
    top: 17px;
    right: 25px;
  }
  .header nav .nav_menu .customer_box .customer_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 97%;
    height: 113px;
    margin: 10px auto 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    background: #fff;
    line-height: 1.6em;
  }
  .header nav .nav_menu .customer_box .customer_menu .customer_legal a {
    color: #67d5e3;
  }
  .header nav .nav_menu .customer_box .customer_menu .customer_qna > a {
    color: #67d5e3;
  }
  .header nav .nav_menu .customer_box .customer_menu .customer_qna > ul {
    margin-top: 5px;
  }
  .header nav .nav_menu .customer_box .customer_menu .customer_as {
    margin-left: 31px;
  }
  .header nav .nav_menu .customer_box .customer_menu .customer_as a {
    color: #67d5e3;
  }
  .header nav .nav_menu .customer_box .customer_menu .customer_inst {
    margin-left: 30px;
  }
  .header nav .nav_menu .customer_box .customer_menu .customer_inst a {
    color: #67d5e3;
  }
  .header nav .nav_menu .customer_box .customer_guide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 97%;
    height: 65px;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    background: #fff;
    line-height: 1.6em;
  }
  .header nav .nav_menu .customer_box .customer_guide a {
    color: #67d5e3;
  }
  .header nav .nav_menu .vipclub_box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
    height: 102px;
    border-top: 1px solid #2e3551;
    border-bottom: 1px solid #111;
  }
  .header nav .nav_menu .vipclub_box > a {
    position: relative;
    width: 100%;
    height: 45px;
    border-top: 1px solid #2e3551;
    border-bottom: 1px solid #111;
    line-height: 45px;
    color: #fff;
    padding-left: 10px;
  }
  .header nav .nav_menu .vipclub_box > a::after {
    position: absolute;
    display: block;
    width: 17px;
    height: 12px;
    content: "";
    background: url(../../images/header/open345.png) no-repeat center;
    top: 17px;
    right: 25px;
  }
  .header nav .nav_menu .vipclub_box .vip_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 97%;
    height: 15px;
    margin: 10px auto 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 11px;
    background: #fff;
    line-height: 1.6em;
  }
  /* header end */
  /* main start */
  .main {
    width: 100%;
    overflow: hidden;
  }
  .main .main_slider_wrap {
    width: 100%;
    overflow: hidden;
  }
  .main .main_slider_wrap .main_slider {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 200px;
    margin-top: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .main_slider_wrap .main_slider .a-main {
    position: absolute;
    width: 100%;
  }
  .main .main_contents {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #fff;
  }
  .main .main_contents .main_contents_wrap {
    width: 100%;
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 28px;
    background: #fff;
  }
  .main .main_contents .contentbox {
    height: 192px;
    border: 1px solid #999;
    padding: 10px 10px 10px 260px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 20px;
    overflow-y: hidden;
    word-break: break-all;
    white-space: normal;
    letter-spacing: 0.01rem;
  }
  .main .main_contents .contentbox:hover {
    border: 1px solid #44b1e7;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .main .main_contents .contentbox:hover p:nth-child(1) {
    text-decoration: underline;
  }
  .main .main_contents .contentbox:hover p:nth-child(4) {
    text-decoration: underline;
  }
  .main .main_contents .main_news {
    position: relative;
  }
  .main .main_contents .main_news p {
    position: relative;
  }
  .main .main_contents .main_news p:nth-child(1) {
    margin-top: 10px;
  }
  .main .main_contents .main_news p:nth-child(1)::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 240px;
    height: 170px;
    top: -10px;
    left: -250px;
    background: url(../../images/main/aimg345.jpg) no-repeat center;
  }
  .main .main_contents .main_news p:nth-child(2) {
    font-size: 1.143rem;
    margin-top: 13px;
    margin-bottom: 10px;
  }
  .main .main_contents .main_news p:nth-child(3) {
    margin-bottom: 15px;
  }
  .main .main_contents .main_news p:nth-child(4) {
    position: relative;
    font-size: 0.8571rem;
    color: #70adcc;
    font-weight: 600;
    left: 10px;
  }
  .main .main_contents .main_news p:nth-child(4)::before {
    position: absolute;
    display: block;
    content: "";
    width: 5px;
    height: 11px;
    background: url(../../images/main/triangle345.jpg) no-repeat center;
    top: 4px;
    left: -8px;
  }
  .main .main_contents .main_service {
    position: relative;
  }
  .main .main_contents .main_service p:nth-child(1) {
    margin-top: 10px;
  }
  .main .main_contents .main_service p:nth-child(1)::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 240px;
    height: 170px;
    top: 10px;
    left: 10px;
    background: url(../../images/main/bimg345.jpg) no-repeat center;
  }
  .main .main_contents .main_service p:nth-child(2) {
    font-size: 1.143rem;
    margin-top: 13px;
    margin-bottom: 10px;
  }
  .main .main_contents .main_service p:nth-child(3) {
    margin-bottom: 15px;
  }
  .main .main_contents .main_service p:nth-child(4) {
    position: relative;
    font-size: 0.8571rem;
    color: #70adcc;
    font-weight: 600;
    left: 10px;
  }
  .main .main_contents .main_service p:nth-child(4)::before {
    position: absolute;
    display: block;
    content: "";
    width: 5px;
    height: 11px;
    background: url(../../images/main/triangle345.jpg) no-repeat center;
    top: 4px;
    left: -8px;
  }
  .main .main_contents .main_vipclub {
    position: relative;
  }
  .main .main_contents .main_vipclub p:nth-child(1) {
    margin-top: 10px;
  }
  .main .main_contents .main_vipclub p:nth-child(1) span {
    font-weight: 900;
  }
  .main .main_contents .main_vipclub p:nth-child(1)::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 240px;
    height: 170px;
    top: 10px;
    left: 10px;
    background: url(../../images/main/cimg345.jpg) no-repeat center;
  }
  .main .main_contents .main_vipclub p:nth-child(2) {
    font-size: 1.143rem;
    margin-top: 13px;
    margin-bottom: 10px;
  }
  .main .main_contents .main_vipclub p:nth-child(3) {
    margin-bottom: 15px;
  }
  .main .main_contents .main_vipclub p:nth-child(4) {
    position: relative;
    font-size: 0.8571rem;
    color: #70adcc;
    font-weight: 600;
    left: 10px;
  }
  .main .main_contents .main_vipclub p:nth-child(4)::before {
    position: absolute;
    display: block;
    content: "";
    width: 5px;
    height: 11px;
    background: url(../../images/main/triangle345.jpg) no-repeat center;
    top: 4px;
    left: -8px;
  }
  .main .main_contents .main_as {
    position: relative;
  }
  .main .main_contents .main_as p:nth-child(1) {
    margin-top: 10px;
  }
  .main .main_contents .main_as p:nth-child(1) span {
    font-weight: 900;
  }
  .main .main_contents .main_as p:nth-child(1)::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 240px;
    height: 170px;
    top: 10px;
    left: 10px;
    background: url(../../images/main/dimg345.jpg) no-repeat center;
  }
  .main .main_contents .main_as p:nth-child(2) {
    font-size: 1.143rem;
    margin-top: 13px;
    margin-bottom: 10px;
  }
  .main .main_contents .main_as p:nth-child(3) {
    margin-bottom: 15px;
  }
  .main .main_contents .main_as p:nth-child(4) {
    position: relative;
    font-size: 0.8571rem;
    color: #70adcc;
    font-weight: 600;
    left: 10px;
  }
  .main .main_contents .main_as p:nth-child(4)::before {
    position: absolute;
    display: block;
    content: "";
    width: 5px;
    height: 11px;
    background: url(../../images/main/triangle345.jpg) no-repeat center;
    top: 4px;
    left: -8px;
  }
  .main .main_contents .main_video {
    position: relative;
  }
  .main .main_contents .main_video p:nth-child(1) {
    margin-top: 10px;
  }
  .main .main_contents .main_video p:nth-child(1) span {
    font-weight: 900;
  }
  .main .main_contents .main_video p:nth-child(1)::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 240px;
    height: 170px;
    top: 10px;
    left: 10px;
    background: url(../../images/main/eimg345.jpg) no-repeat center;
  }
  .main .main_contents .main_video p:nth-child(2) {
    font-size: 1.143rem;
    margin-top: 13px;
    margin-bottom: 10px;
  }
  .main .main_contents .main_video p:nth-child(3) {
    margin-bottom: 15px;
  }
  .main .main_contents .main_video p:nth-child(4) {
    position: relative;
    font-size: 0.8571rem;
    color: #70adcc;
    font-weight: 600;
    left: 10px;
  }
  .main .main_contents .main_video p:nth-child(4)::before {
    position: absolute;
    display: block;
    content: "";
    width: 5px;
    height: 11px;
    background: url(../../images/main/triangle345.jpg) no-repeat center;
    top: 4px;
    left: -8px;
  }
  .main .main_contents .main_catalog {
    position: relative;
  }
  .main .main_contents .main_catalog p:nth-child(1) {
    margin-top: 10px;
  }
  .main .main_contents .main_catalog p:nth-child(1) span {
    font-weight: 900;
  }
  .main .main_contents .main_catalog p:nth-child(1)::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 240px;
    height: 170px;
    top: 10px;
    left: 10px;
    background: url(../../images/main/fimg345.jpg) no-repeat center;
  }
  .main .main_contents .main_catalog p:nth-child(2) {
    font-size: 1.143rem;
    margin-top: 13px;
    margin-bottom: 10px;
  }
  .main .main_contents .main_catalog p:nth-child(3) {
    margin-bottom: 15px;
  }
  .main .main_contents .main_catalog p:nth-child(4) {
    position: relative;
    font-size: 0.8571rem;
    color: #70adcc;
    font-weight: 600;
    left: 10px;
  }
  .main .main_contents .main_catalog p:nth-child(4)::before {
    position: absolute;
    display: block;
    content: "";
    width: 5px;
    height: 11px;
    background: url(../../images/main/triangle345.jpg) no-repeat center;
    top: 4px;
    left: -8px;
  }
  .main .main_contents .main_store {
    position: relative;
  }
  .main .main_contents .main_store p:nth-child(1) {
    margin-top: 10px;
  }
  .main .main_contents .main_store p:nth-child(1) span {
    font-weight: 900;
  }
  .main .main_contents .main_store p:nth-child(1)::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 240px;
    height: 170px;
    top: 10px;
    left: 10px;
    background: url(../../images/main/gimg345.jpg) no-repeat center;
  }
  .main .main_contents .main_store p:nth-child(2) {
    font-size: 1.143rem;
    margin-top: 13px;
    margin-bottom: 10px;
  }
  .main .main_contents .main_store p:nth-child(3) {
    margin-bottom: 15px;
  }
  .main .main_contents .main_store p:nth-child(4) {
    position: relative;
    font-size: 0.8571rem;
    color: #70adcc;
    font-weight: 600;
    left: 10px;
  }
  .main .main_contents .main_store p:nth-child(4)::before {
    position: absolute;
    display: block;
    content: "";
    width: 5px;
    height: 11px;
    background: url(../../images/main/triangle345.jpg) no-repeat center;
    top: 4px;
    left: -8px;
  }
  .main .main_contents .main_machine {
    position: relative;
  }
  .main .main_contents .main_machine p:nth-child(1) {
    margin-top: 10px;
  }
  .main .main_contents .main_machine p:nth-child(1) span {
    font-weight: 900;
  }
  .main .main_contents .main_machine p:nth-child(1)::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 240px;
    height: 170px;
    top: 10px;
    left: 10px;
    background: url(../../images/main/himg345.jpg) no-repeat center;
  }
  .main .main_contents .main_machine p:nth-child(2) {
    font-size: 1.143rem;
    margin-top: 13px;
    margin-bottom: 10px;
  }
  .main .main_contents .main_machine p:nth-child(3) {
    margin-bottom: 15px;
  }
  .main .main_contents .main_machine p:nth-child(4) {
    position: relative;
    font-size: 0.8571rem;
    color: #70adcc;
    font-weight: 600;
    left: 10px;
  }
  .main .main_contents .main_machine p:nth-child(4)::before {
    position: absolute;
    display: block;
    content: "";
    width: 5px;
    height: 11px;
    background: url(../../images/main/triangle345.jpg) no-repeat center;
    top: 4px;
    left: -8px;
  }
  .main .main_contents .youtube {
    margin-top: 45px;
  }
  .main .main_contents .youtube a {
    width: 47px;
    height: 20px;
    display: block;
    background: url(../../images/main/youtube345.jpg) no-repeat center;
    text-indent: -9999px;
  }
  /* main end */
  /* footer start */
  .footer {
    width: 100%;
    background: #0c2745;
  }
  .footer .footer_top_wrap {
    width: 100%;
    padding: 20px;
  }
  .footer .footer_top_wrap .footer_new {
    width: 100%;
    height: 15px;
  }
  .footer .footer_top_wrap .footer_new a {
    font-size: 0.7143rem;
    color: #fff;
    font-weight: 500;
  }
  .footer .footer_top_wrap .footer_sitemap {
    position: relative;
    width: 92%;
    height: 80%;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #305075;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_coffee {
    line-height: 1.2rem;
    letter-spacing: -0.5px;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_coffee h4 {
    font-size: 0.8571rem;
    font-weight: 400;
    margin-bottom: 15px;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_coffee h4 a {
    font-weight: 400;
    color: #fff;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_coffee ul {
    font-size: 0.7143rem;
    margin-bottom: 35px;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_coffee ul .footer_coffeemachine > a {
    font-weight: 500;
    color: #fff;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_coffee ul .footer_coffeemachine ul li a {
    color: #70adcc;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_kitchen {
    line-height: 1.2rem;
    letter-spacing: -0.5px;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_kitchen h4 {
    font-size: 0.8571rem;
    font-weight: 400;
    margin-bottom: 12px;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_kitchen h4 a {
    font-weight: 400;
    color: #fff;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_kitchen .footer_kitchen_machine {
    font-size: 0.7143rem;
    margin-bottom: 20px;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_kitchen .footer_kitchen_machine .footer_kitchenmachine > a {
    font-weight: 800;
    color: #fff;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_kitchen .footer_kitchen_machine .footer_kitchenmachine ul li a {
    color: #70adcc;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_kitchen .footer_kitchen_machine .footer_kitchenbreak {
    margin-top: 20px;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_kitchen .footer_kitchen_machine .footer_kitchenbreak > a {
    font-weight: 800;
    color: #fff;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_kitchen .footer_kitchen_machine .footer_kitchenbreak ul {
    margin-bottom: 35px;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_kitchen .footer_kitchen_machine .footer_kitchenbreak ul li a {
    color: #70adcc;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_comfort {
    line-height: 1.1rem;
    letter-spacing: -0.5px;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_comfort h4 {
    font-size: 0.8571rem;
    font-weight: 400;
    margin-bottom: 15px;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_comfort h4 a {
    font-weight: 400;
    color: #fff;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_comfort ul {
    font-size: 0.7143rem;
    margin-bottom: 40px;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_comfort ul .footer_wintermachine > a {
    font-weight: 500;
    color: #fff;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_comfort ul .footer_wintermachine ul li a {
    color: #70adcc;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_delonghi {
    line-height: 1.1rem;
    letter-spacing: -0.5px;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_delonghi h4 {
    font-size: .9286rem;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: -0.1px;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_delonghi h4 a {
    font-weight: 400;
    color: #fff;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_delonghi ul {
    font-size: 0.7143rem;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_delonghi ul .footer_delonghiservice > a {
    font-weight: 800;
    color: #fff;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_delonghi ul .footer_delonghiservice ul {
    margin-bottom: 20px;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_delonghi ul .footer_delonghiservice ul li a {
    color: #70adcc;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_delonghi ul .footer_delonghilegal {
    margin-bottom: 20px;
    font-weight: 800;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_delonghi ul .footer_delonghilegal a {
    color: #fff;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_delonghi ul .footer_delonghiltd {
    margin-bottom: 20px;
    font-weight: 900;
    color: #fff;
  }
  .footer .footer_top_wrap .footer_sitemap .footer_delonghi ul .footer_delonghiaddr {
    font-weight: 500;
    color: #fff;
  }
  .footer .footer_top_wrap .footer_sitemap .closing {
    position: absolute;
    width: 34px;
    height: 15px;
    background: url(../../images/footer/closing345.jpg) no-repeat center;
    text-indent: -9999px;
    top: 20px;
    right: 0;
  }
  .footer .footer_top_wrap .footer_sitemap .closing a {
    display: block;
    height: 100%;
  }
  .footer a:hover {
    text-decoration: underline;
  }
  .footer .footer_copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 93px;
    background: #fff;
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .footer .footer_copyright .policy {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 95%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top: 1px solid #ddd;
  }
  .footer .footer_copyright .policy ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .footer_copyright .policy ul li {
    position: relative;
    top: -10px;
    font-size: 0.9286rem;
    letter-spacing: -0.5px;
    background: #fff;
  }
  .footer .footer_copyright .policy ul li:nth-child(1):after {
    content: "|";
    font-size: 20px;
    font-weight: 200;
    color: #888;
    margin: 10px;
    line-height: 5px;
  }
  .footer .footer_copyright .allrights {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
  }
  .footer .footer_copyright .allrights p {
    font-size: 0.7143rem;
    font-weight: 400;
    color: #2e3551;
    margin-top: 10px;
  }
  .footer .footer_copyright .hometop {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 95%;
    height: 40px;
    margin-top: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: pointer;
  }
  .footer .footer_copyright .hometop .home {
    width: 40px;
    height: 40px;
    background: url(../../images/footer/home345.jpg) no-repeat center;
    text-indent: -9999px;
  }
  .footer .footer_copyright .hometop .top {
    width: 40px;
    height: 40px;
    background: url(../../images/footer/top345.jpg) no-repeat center;
    text-indent: -9999px;
  }
}
/*# sourceMappingURL=mobile_style.css.map */